#root {
  background-color: #2b2c2e;
}

.header {
  text-align: center;
  height: 50px;
  padding: 0 50px;
}

.header .logo {
  height: 50px;
  width: 100px;
}

.products {
  color: white;
}

.new-product-container, .products-list {
  text-align: center;
}

.products .container-title {
  font-weight: bold;
  margin: 10px;
}

.hidden {
  display: none;
}