#root {
  background-color: #2b2c2e;
}

.header {
  text-align: center;
  height: 50px;
  padding: 0 50px;
}

.header .logo {
  height: 50px;
  width: 100px;
}

.products {
  color: white;
}

.products .new-product {
  text-align: center;
}

.products .new-product input {
  background: #324a5c;
  color: white;
  margin: 10px;
}


.products .container-title {
  font-weight: bold;
  margin: 10px;
}

.new-product-form button {
  cursor: pointer;
}

.new-product-form #new-product-submit-button.disabled {
  cursor: not-allowed;
}

.new-product-count-container #new-product-count, .new-product-count-container .btn {
  width: 35px;
  float: left;
  text-align: center;
}

.new-product-count-container #new-product-count {
  margin-top: 10px;
}

.new-product-count-container .btn {
  background: #324a5c;
  color: white;
}

.new-product-count-container {
  margin: 0 auto;
  display: table;
}

.new-product-image-container {
  text-align: center;
  border-radius: 25px;
  background: #324a5c;
  width: 60px;
  height: 60px;
  padding: 15px;
  margin: 10px auto;
}
.new-product-image-container img{
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}