.new-product-container input, .new-product-container input:focus {
  background: #324a5c;
  color: white;
  margin: 10px;
}

.new-product button {
  cursor: pointer;
}

.new-product-submit-button.disabled {
  cursor: not-allowed;
}

.new-product .product-count, .new-product .product-count-container .product-count-btn {
  width: 35px;
  float: left;
  text-align: center;
}

.new-product .product-count {
  margin-top: 10px;
}

.new-product .product-count-container .btn {
  background: #324a5c;
  color: white;
}

.new-product .product-count-container {
  margin: 0 auto;
  display: table;
}

.new-product-image-container {
  text-align: center;
  border-radius: 25px;
  background: #324a5c;
  width: 60px;
  height: 60px;
  padding: 15px;
  margin: 10px auto;
}

.new-product-image-container img {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.new-product-images-list {
  width: 320px;
  height: 100px;
  background: #2c3e50;
  position: absolute;;
  z-index: 1;
  padding: 10px;
  margin-top: 20px;
  margin-left: -150px;
}

.new-product-image-item-container {
  text-align: center;
  border-radius: 25px;
  background: #324a5c;
  width: 60px;
  height: 60px;
  padding: 15px;
  margin: 7px;
  float: left;
}

.new-product-image-item-container:hover {
  background: #202d3a;
  cursor: pointer;
}

.new-product-image-item-container img {
  width: 30px;
}